#message-form input,
#message-form textarea {
    display: block;
    margin: 0 0 12px 0;
    width: 50%;
}

#message-form textarea {
    height: 5em;
}

#message-form input[type=submit] {
    width: 20%;
}
